$board-color: #f0d9b5;
$black-square-color: #493eaf;
$white-square-color: #dfdfdf;

.board {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 500px;
  height: 500px;
  background-color: $board-color;

  .square {
    justify-content: center;
    align-content: center;
  }

  .square.valid {
    border-style: solid;
    border-color: green;
    border-width: 4px;
  }

  .piece {
    display:flex;
    justify-content: center;
    align-content: center;
  }

  .square.white {
    color: white;
    background-color: $white-square-color;
  }

  .square.black {
    
    background: linear-gradient(to right, $black-square-color, lighten($black-square-color, 20%));
    color: black;
  }

  .piece.white {
    color: white;
  }

  .piece.black {
    color: black;
  }
}
